body {
    font-family: Verdana;
    margin: 130px;
    max-width: 400px;
    margin: auto;
    
}
.game-board {
    max-width: 330px;
    margin-top: 50px;
    background-color: #ccc;
    border: rgb(0, 0, 128) dotted 3px;
    padding-bottom: 20px;
}
.game-board div {
    margin-left: 40px;
    
}
.status {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    padding: 20px 0;
}
button.square {
    width: 50px;
    min-height: 50px;
    max-height: 50px;
    padding: 20px;
}
    
    .square {
        background-color: #fffff0;
    }